<head>
<title>home</title>
</head>
<body class="body">
<header>
<a href="/"><img src="/images/logo.png" alt="logo"></a>
</header>
  <div>
    <h1>Are Your Posts Getting More or Less Love? </h1><br>
    <h2>find out below</h2>
    <div class="arrow">↓</div>
    <div class="btnContainer">
    <form action="/auth/facebook" method="get">
        <button class="facebook-login">
    <span class="facebook-icon"><i class="fab fa-facebook-f"></i></span> Continue with Facebook
</button>
</form>
</div>
<p>By continuing you agree to our <a href="/termsofservice"> Terms of Service</a>.</p>
  </div>

 
  <div id="copyright" >
      <p >© 2025 Mystanner. All Rights Reserved.</p>                       
            </div>
</body>